<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12826503565-qdq9p4rvqun03ve81677b7ti2h430p3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12826503565-qdq9p4rvqun03ve81677b7ti2h430p3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDDpOTavMvvSr6dF_Kb5GrZhui58lmIq9A</string>
	<key>GCM_SENDER_ID</key>
	<string>12826503565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualTourism</string>
	<key>PROJECT_ID</key>
	<string>virtual-tourism-7625f</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-tourism-7625f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12826503565:ios:e58d43f3dfcdd9152ef5c4</string>
</dict>
</plist>